$color-ball-blue: #2AB7Ca;
$color-spanish-gray: #8F9199;
$color-lavender-gray: #C7C8CC;
$color-rising-black: #221D23;
$color-silver-chalice : #AEACAF;
$color-middle-blue : #77D1DD;
$color-nickel : #726F73;
$color-onix: #333745;

$xs-screen : 576px; 
$sm-screen : 768px;
$md-screen : 992px;
$lg-screen : 1200px;

$font-xxxxx-large : 3.125rem;
$font-xxxx-large : 2.813rem;
$font-xxx-large : 2.5rem;
$font-xx-large : 2.188rem;
$font-x-large : 1.875rem;
$font-large : 1.25rem;
$font-medium : 1rem;
$font-small : 0.875rem;
$font-x-small : 0.75rem;